$letterBackground: rgba(255, 255, 255, 0.3);
$letterPositive: #3e8b2d;
$letterNegative: #8b362f;

body {
  width: 100%;
  height: 100%;
  font-size: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #1e130c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9a8478, #1e130c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  header{
    h1{
      display: flex;
      margin: auto;
      color: white;
      justify-content: center;
      margin-top: 100px;
    }

    .btn, .btn:focus, .btn:active{
      display: flex;
      margin: auto;
      justify-content: center;
      margin-top: 50px;
      width: 200px;
      height: auto;
      font-size: 1.5rem;
      border: 2px solid white !important;
      background-color: transparent !important;
      text-decoration: none;
      outline: none !important;
      color: white;
    }

    .btn:hover, .btn:focus, .btn:active{
      background-color: white !important;
      color: #333;
      border-color: white;
    }
  }

  main{
    height: 90vh;
    width: 100vw;
    display:table-cell;
    text-align:center;
    vertical-align:middle;

    .col-12{
      #password{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 2rem;
        margin-top: 70px;
      }
    }

    .container {
      display: flex;
      justify-content: space-between;

      .images {
        float: left;
        display: none;
        text-align: center;
        margin: 5vh 50px auto 50px;

        #img1 {
          display: flex;
          width: auto;
          height: 60vh;
          margin-top: 50px;
          margin-left: auto;
        }
      }

      .col-5 {
        float: left;

        .letters {
          width: auto;
          margin: 20vh 50px auto 50px;
          align-items: center;
          padding: auto 20vw;
          text-align: center;
          float: left;

          .letter {
            width: 50px;
            height: 50px;
            text-align: center;
            padding: 5px;
            margin: 5px;
            border: 3px solid gray;
            cursor: pointer;
            float: left;
            border-radius: 15px;
            font-size: 1.3rem;
            color: white;
          }

          .hover:hover {
            background-color: $letterBackground;
            border: 3px solid white;
          }

          .correct{
            background-color: #668b57;
            opacity: .5;
            border: 3px solid #334a31;
            cursor: default;
          }

          .wrong{
            background-color: #8b423b;
            opacity: .5;
            border: 3px solid #4a2627;
            cursor: default;
          }

          .failed{
            font-size: 3rem;
            color: white;
            text-align: center;
          }
        }
      }
    }
  }

  footer{
    p{
      position: fixed;
      bottom: 0;
      display: flex;
      margin: auto;
      text-align: center;
      justify-content: center;
      white-space: pre;
      color: white;
      font-size: .8rem;
      width: 100%;
      text-decoration: none;
      margin-bottom: 10px;
      opacity: .3;

      a, a:hover{
        color: white;
        text-decoration: none;
      }
    }
  }
}

@media only screen and (max-width: 1000px){
  body main .col-5 .letters {
    margin: 10vh auto;
    display: contents;
  }
}

@media only screen and (max-width: 800px){
  main {
    display: flex;
    flex-direction: column;
  }

  .images{
    text-align: center;
  }

  #img1 {
    margin: auto;
  }

  .col-12 {
    margin: 0;
    flex: 0;
  }

  .container{
    display: flex;
    flex-direction: column;
  }

  .col-5{
      margin: auto;
  }
}

