body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #1e130c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #9a8478, #1e130c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  header{
    h1{
      display: flex;
      margin: auto;
      color: white;
      justify-content: center;
      margin-top: 100px;
    }

    .btn, .btn:focus, .btn:active{
      display: flex;
      margin: auto;
      justify-content: center;
      margin-top: 50px;
      width: 200px;
      height: auto;
      font-size: 1.5rem;
      border: 2px solid white !important;
      background-color: transparent !important;
      text-decoration: none;
      outline: none !important;
      color: white;
    }

    .btn:hover, .btn:focus, .btn:active{
      background-color: white !important;
      color: #333;
      border-color: white;
    }
  }

  footer{
    p{
      position: absolute;
      bottom: 0;
      display: flex;
      margin: auto;
      text-align: center;
      justify-content: center;
      white-space: pre;
      color: white;
      font-size: .8rem;
      width: 100%;
      text-decoration: none;
      margin-bottom: 10px;
      opacity: .3;

      a, a:hover{
        color: white;
        text-decoration: none;
      }
    }
  }
}